<div class="subnav">
	<div class="tabs is-fullwidth">
	  <ul>
	    <li class="link {{ subpage == 'skills' or subpage == null ? "is-active" : "" }}"><a href="/profile/{{ name|replace({' ': '+'})|lower }}/skills"><span class="icon"><i class="fa fa-list"></i></span> <span>Skills</span></a></li>
	    <li class="link {{ subpage == 'drops' ? "is-active" : "" }}"><a href="/profile/{{ name|replace({' ': '+'})|lower }}/drops"><span class="icon"><i class="fa fa-dollar"></i></span> <span>Drops</span></a></li>
	    <li class="link {{ subpage == 'quests' ? "is-active" : "" }}"><a href="/profile/{{ name|replace({' ': '+'})|lower }}/quests"><span class="icon"><i class="fa fa-trophy"></i></span> <span>Quests</span></a></li>
	    <li class="link {{ subpage == 'activity' ? "is-active" : "" }}"><a href="/profile/{{ name|replace({' ': '+'})|lower }}/activity"><span class="icon"><i class="fa fa-list"></i></span> <span>Activity</span></a></li>
	  </ul>
	</div>
</div>