<div class="section profile-heading box">
  <div class="columns">
    <div class="column is-2">
      <div class="image is-128x128 avatar">
        <img src="/img/players/{{ player.pl_id }}.png">
      </div>
    </div>
    <div class="column is-3 name">
        <div class="title is-bold player-title-container">
          {% if default_player_title != '' %}
            <span class="player-title" style="color:{{ default_player_title.ti_colour }} !important">{{ default_player_title.ti_name }}</span>
          {% elseif player.pl_type == 2 %}
            <span class="player-title" style="color: #60636B !important">Ironman</span>
          {% elseif player.pl_type == 3 %}
            <span class="player-title" style="color: #A30920 !important">Hardcore ironman</span>
          {% endif %}
          {{ player.pl_name }}
        </div>
      <p class="name-history">{{ player.pl_last_name != '' ? 'Previous name: '~player.pl_last_name : '' }}</p>
      <p class="tagline"><a href="/clan/{{ clan.cl_name|replace({' ': '+'})|lower }}">{{ clan.cl_name }}</a></p>
      <p>Last update: {{ last_update }} minutes ago</p>
    </div>
    <div class="column is-2 followers has-text-centered center">
      <p class="stat-val">{{ player.pl_total_skill }}</p>
      <p class="stat-key">total level</p>
    </div>
    <div class="column is-2 followers has-text-centered center">
      <p class="stat-val">{{ player.pl_combat_level }}</p>
      <p class="stat-key">combat level</p>
    </div>
    <div class="column is-3 has-text-centered center">
      <p class="stat-val">{# (player.pl_total_exp == 5400000000) ? '<span class="party">🎉</span>' : '' #}{{ player.pl_total_exp|number_format }}{# (player.pl_total_exp == 5400000000) ? '<span class="party">🎉</span>' : '' #}</p>
      <p class="stat-key">total experience</p>
        {% if player_is_confirmed == false %}
        <a class="claim" href="/verify/{{ player.pl_name|replace({' ': '+'})|lower }}">
          <span class="icon">
            <i class="fa fa-link"></i>
          </span>
        </a>
        {% endif %}
    </div>
  </div>
</div>