{% include '/common/header.twig' %}

<section class="hero is-fullheight">

  {% include '/common/nav.twig' %}

  <div class="hero-body is-not-centered">
    
    <div class="container">

      <div class="content">
      
        {% if player == false %}

        <div class="notification is-danger player-not-found">
          Couldn't find that player.
        </div>

        {% else %}
              
        {% if player.pl_id in session.player_ids and player.pl_is_private == true %}
          <div class="notification is-info">
          <button class="delete"></button>
          It seems that your account has RuneMetrics set to <strong>private</strong>. Please change it to '<strong>Online</strong>' in your account settings so you can use all the functionality RuneLogs provides! 
          <br/>
          You can access the RuneMetrics settings by going to 'Account' from the Runescape homepage or by going to <a href="https://www.runescape.com/account_settings.ws">this link</a>!
        </div>
        {% endif %}      
        
        {% include '/profile/profile_info.twig' %}

        {% include '/profile/profile_subnav.twig' %}

        <section class="box sub-content">

          {% include '/profile/subpages/skills.twig' %}

        </section>

      {% endif %}
      
      </div>
      
    </div>

  </div>

{% include '/common/footer.twig' %}