<div class="columns is-fullwidth is-hidden-mobile">
    <div class="column activity-list">
      <ul>
        {% for item in activity %}
          {% if 'has achieved' in item.at_message %}
          <!--            <li><img class="inline-avatar" src="/img/players/{{ item.pl_id }}.png"> {{ item.pl_name }} {{ item.at_message }} {{ attribute(skills, item.ac_sk_id).sk_name }}</li>
-->         
            <li>
                <img class="activity-icon" src="{{ base_path ~ directory }}/img/icons/{{ attribute(skills, item.ac_sk_id).sk_name|lower }}.png" />
                <span class="activity-text">
                      {{ item.pl_name }}  {{ item.at_message }} 
                      {{ attribute(skills, item.ac_sk_id).sk_name }}  
                </span>    
            </li>
            

          {% endif %}
          
        {% endfor %}
    </ul> 
  </div>
</div>


{# Mobile card view #}

<div class='mobile-skills is-hidden-tablet'>
<ul>
        {% for item in activity %}
          {% if 'has achieved' in item.at_message %}
    
            <li>
                <img class="activity-icon" src="{{ base_path ~ directory }}/img/icons/{{ attribute(skills, item.ac_sk_id).sk_name|lower }}.png" />
                <span class="activity-text">
                      {{ item.pl_name }}  {{ item.at_message }} 
                      {{ attribute(skills, item.ac_sk_id).sk_name }}  
                </span>               
            </li>
            

          {% endif %}
          
        {% endfor %}
    </ul> 
</div>
