<div class="columns">
    <div class="column drop-cards">

    {% for competition_index, competition in competitions %}
        
        
  <div class="card competition-card">
  <header class="card-header">
    <p class="card-header-title competition-header">
        <img src="{{ base_path ~ directory }}/img/icons/{{ attribute(skills, competition.cp_sk_id).sk_name|lower }}.png" alt="" />
        <b>{{ competition.cp_name }} </b>
    </p>
  </header>
  <div class="card-content">
    <div>
        <p>
            <b>Start:&nbsp;</b>
            {{ competition.cp_start_date | date('Y-m-d')}}
        </p>
        <p>
            <b>Finish:&nbsp;</b>
            {{ competition.cp_end_date | date('Y-m-d')}}
        </p>
    </div>
  </div>
  <footer class="card-footer card-footer-item competition-card-footer">
    Hosted by&nbsp;<a href="/profile/{{ competition.pl_name|replace({' ': '+'})|lower  }}"> {{competition.pl_name}}</a>  
  </footer>
</div>
        
<!--
        <div class="card competition-card">
        <div class="competition-card-content">
         <img src="{{ base_path ~ directory }}/img/icons/{{ attribute(skills, competition.cp_sk_id).sk_name|lower }}.png" alt="" />
          <p class="competition-title">
               
          </p>
        </div>
        <div class="competition-description"></div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
              Hosted by  <a href="/profile/{{ competition.pl_name|replace({' ': '+'})|lower  }}">{{competition.pl_name}}</a>  
            </span>
          </p>
        </footer>
      </div>
-->

    {% endfor %}  

  </div>
</div>



