<div class="columns">
    <div class="column drop-cards">

    {% for drop_index, drop in drops %}
      
      <div class="card drop-card">
        <div class="card-content">
          <img src="{{ base_path ~ directory }}/img/items/{{ drop.dr_img_id }}.png" alt="" />
          <p class="title is-4">
            {{ drop.dr_title }}
          </p>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
              {{ drop.dv_timestamp|date("d/m/Y") }}
            </span>
          </p>
          <p class="card-footer-item">
            <span>
              <a href="/profile/{{ drop.pl_name|replace({' ': '+'})|lower  }}">{{ drop.pl_name }}</a>  
            </span>
          </p>
        </footer>
      </div>

    {% endfor %}  

  </div>
</div>
