{# Tablet + table view #}

{% if member_slice|length > 1 %}
<table class="table members-table is-fullwidth is-hidden-mobile" >
  <thead>
    <tr data-clan="{{ clan.cl_name|replace({' ': '+'})|lower }}">
      <th class="member-table-sort" data-sort="pl_name">Name<span class="icon"><i class="fa fa-caret-{{ sort_order == "desc" ? 'down' : 'up' }}"></i></span></th>
      <th class="member-table-sort" data-sort="pl_clan_rank_nr">Rank<span class="icon"><i class="fa fa-caret-{{ sort_order == "desc" ? 'down' : 'up' }}"></i></span></th>
      <th class="member-table-sort" data-sort="pl_clan_exp">Clan exp<span class="icon"><i class="fa fa-caret-{{ sort_order == "desc" ? 'down' : 'up' }}"></i></span></th>
      <th class="member-table-sort" data-sort="pl_clan_kills">Clan kills<span class="icon"><i class="fa fa-caret-{{ sort_order == "desc" ? 'down' : 'up' }}"></i></span></th>
      <th class="member-table-sort" data-sort="exp_today">Exp today<span class="icon"><i class="fa fa-caret-{{ sort_order == "desc" ? 'down' : 'up' }}"></i></span></th>
      <th class="member-table-sort" data-sort="has_capped">Cap status<span class="icon"><i class="fa fa-caret-{{ sort_order == "desc" ? 'down' : 'up' }}"></i></span></th>
      <th class="member-table-sort" data-sort="pl_last_activity">Activity<span class="icon"><i class="fa fa-caret-{{ sort_order == "desc" ? 'down' : 'up' }}"></i></span></th>
    </tr>
  </thead>
  <tbody>
    {% for member in member_slice %}
      <tr>
        <td>
          <a href="/profile/{{ member.pl_name|replace({' ': '+'})|lower  }}">{{ member.pl_name }}</a><span class="name-history inline">{{ member.pl_last_name != '' ? '('~member.pl_last_name~')' : '' }}</span>
          {{ member.pl_type > 1 ? member.pl_type == 3 ? "<span class='inline-profile-badge hcim' data-balloon='hardcore ironman btw' data-balloon-pos='right'></span>" : "<span class='inline-profile-badge im' data-balloon='ironman btw' data-balloon-pos='right'></span>" : '' }}
        </td>
        <td>{{ member.pl_clan_rank }}</td>
        <td>{{ member.pl_clan_exp|number_format }}</td>
        <td>{{ member.pl_clan_kills }}</td>
        <td class="{{ member.exp_today|slice(0, -1) > 0 ? "green bold" : "" }}">{{ member.exp_today|slice(0, -1)|number_format }}</td>
        {% if member.pl_last_cap > last_reset %}
          <td data-balloon="Last cap: {{ member.pl_last_cap|date('d/m/Y') }}" data-balloon-pos="left">🏁</td>
        {% elseif member.pl_last_visit > last_reset %}
          <td data-balloon="Last visit: {{ member.pl_last_visit|date('d/m/Y') }}" data-balloon-pos="left">🏰</td>
        {% else %}
          <td data-balloon="Never visited or capped" data-balloon-pos="left">❌</td>
        {% endif %}
        <td data-balloon="Last activity: {{ member.pl_last_activity == 0 ? 'Never' : member.pl_last_activity|date('d/m/Y') }}" data-balloon-pos="left">{{ member.active == true ? '🔥' : (member.last_activity == 0 ? '❓' : '😴') }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{# Mobile card view #}

<div class='mobile-skills is-hidden-tablet'>
  {% for member in member_slice %}
    <div class="card skill-card">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon">
            <i class="fa fa-user"></i>
          </span>
          <a href="/profile/{{ member.pl_name|replace({' ': '+'})|lower  }}">{{ member.pl_name }}</a>
          {{ member.pl_type > 1 ? member.pl_type == 3 ? "<span class='inline-profile-badge hcim' data-balloon='hardcore ironman btw' data-balloon-pos='right'></span>" : "<span class='inline-profile-badge im' data-balloon='ironman btw' data-balloon-pos='right'></span>" : '' }}
        </p>
      </header>
      <div class="card-content">
          <div><span class="skill-label">Rank:</span>{{ member.pl_clan_rank }}</div>
          <div><span class="skill-label">Experience:</span>{{ member.pl_clan_exp|number_format }}</div>
          <div><span class="skill-label">kills:</span>{{ member.pl_clan_kills }}</div>
          <div class="{{ member.exp_today|slice(0, -1) > 0 ? "green bold" : "" }}"><span class="skill-label">Exp today:</span>{{ member.exp_today|slice(0, -1)|number_format }}</div>
          <div><span class="skill-label">Cap status:</span>{{ member.pl_last_cap > last_reset ? '✔' : '❌'}}</div>
          <div><span class="skill-label">Activity:</span>🔥</div>
      </div>
    </div>
{% endfor %}
</div>

  <nav class="pagination" role="navigation" aria-label="pagination">
    <ul class="pagination-list">

      {% if pages >= 5 %}


        {% if page == 1 %}

          {% for i in range(page, page + 3)  %}
            <li>
              <a class="pagination-link {{ (page == i) ? 'is-current' : '' }}" href="/clan/{{ clan.cl_name|replace({' ': '+'})|lower }}/members/{{ i }}/{{ sort }}/{{ sort_order }}" >{{ i }}</a>
            </li>
          {% endfor %}

          <li><span class="pagination-ellipsis">&hellip;</span></li>

          <li>
            <a class="pagination-link {{ (page == pages) ? 'is-current' : '' }}" href="/clan/{{ clan.cl_name|replace({' ': '+'})|lower }}/members/{{ pages }}/{{ sort }}/{{ sort_order }}" aria-label="Goto page 1">{{ pages }}</a>
          </li>

        {% elseif page == pages %}

          <li>
            <a class="pagination-link {{ (page == 1) ? 'is-current' : '' }}" href="/clan/{{ clan.cl_name|replace({' ': '+'})|lower }}/members/1/{{ sort }}/{{ sort_order }}" aria-label="Goto page 1">1</a>
          </li>

          <li><span class="pagination-ellipsis">&hellip;</span></li>

          {% for i in range(page - 3, page)  %}
            <li>
              <a class="pagination-link {{ (page == i) ? 'is-current' : '' }}" href="/clan/{{ clan.cl_name|replace({' ': '+'})|lower }}/members/{{ i }}/{{ sort }}/{{ sort_order }}" >{{ i }}</a>
            </li>
          {% endfor %}

        {% else %}

          <li>
            <a class="pagination-link {{ (page == 1) ? 'is-current' : '' }}" href="/clan/{{ clan.cl_name|replace({' ': '+'})|lower }}/members/1/{{ sort }}/{{ sort_order }}" aria-label="Goto page 1">1</a>
          </li>

          <li><span class="pagination-ellipsis">&hellip;</span></li>

          {% for i in range(page - 1, page + 1)  %}
            {% if i != 0 %}
              <li>
                <a class="pagination-link {{ (page == i) ? 'is-current' : '' }}" href="/clan/{{ clan.cl_name|replace({' ': '+'})|lower }}/members/{{ i }}/{{ sort }}/{{ sort_order }}" >{{ i }}</a>
              </li>
            {% endif %}
          {% endfor %}

          <li><span class="pagination-ellipsis">&hellip;</span></li>

          <li>
            <a class="pagination-link {{ (page == pages) ? 'is-current' : '' }}" href="/clan/{{ clan.cl_name|replace({' ': '+'})|lower }}/members/{{ pages }}/{{ sort }}/{{ sort_order }}" aria-label="Goto page 1">{{ pages }}</a>
          </li>

        {% endif %}

    {% else %}

      {% for i in range(1, pages)  %}
        <li>
          <a class="pagination-link {{ (page == i) ? 'is-current' : '' }}" href="/clan/{{ clan.cl_name|replace({' ': '+'})|lower }}/members/{{ i }}/{{ sort }}/{{ sort_order }}" aria-label="Goto page {{ i }}">{{ i }}</a>
        </li>
      {% endfor %}

    {% endif %}
    </ul>
  </nav>

{% else %}

<div class="notification is-primary">
  <strong>Fresh clan detected</strong></br>
  <p>Our systems have detected that this clan has been recently added to the website. We do not have any data for it right now, but we will have it once the next update cycle finishes. Come back in a little while!</p>
</div>

{% endif %}