<div class="error-container">

</div>
<div class="columns">
    <div class="column drop-cards">
    
    {% if pinned_drops != false or drops != false %}

    {% for drop_index, drop in pinned_drops %}  

      <div class="card drop-card pinned">
        <div class="card-content">
          <img src="{{ base_path ~ directory }}/img/items/{{ drop.dr_img_id }}.png" alt="" />
          <p class="title is-4">
            {{ drop.dr_title }}
          </p>
          {% if session.logged_in == true and player.pl_id in session.player_ids %}
            <a class="pin-drop is-primary pin-drop" href="/unpin/{{ player.pl_id }}/{{ drop.dv_id }}">
              <span class="icon has-text-info">
                <i class="fa fa-thumb-tack"></i>
              </span>
            </a>
          {% endif %}
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
              {{ drop.dv_timestamp|date("d/m/Y") }}
            </span>
          </p>
        </footer>
      </div>

    {% endfor %}

    {% for drop_index, drop in drops %}
      
      <div class="card drop-card">
        <div class="card-content">
          {# <img src="{{ drop.item_picture_url }}" alt="" /> #}
          <img src="{{ base_path ~ directory }}/img/items/{{ drop.dr_img_id }}.png" alt="" />
          <p class="title is-4">
            {{ drop.dr_title }}
          </p>
          {% if session.logged_in == true and player.pl_id in session.player_ids %}
            <a class="pin-drop is-primary pin-drop" href="/pin/{{ player.pl_id }}/{{ drop.dv_id }}">
              <span class="icon has-text-info">
                <i class="fa fa-thumb-tack"></i>
              </span>
            </a>
          {% endif %}
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
              {{ drop.dv_timestamp|date("d/m/Y") }}
            </span>
          </p>
        </footer>
      </div>

    {% endfor %}  
  {% else %}
    <p>Nothing interesting happened</p>
  {% endif %}
  </div>
</div>