{# Tablet + table view #}

<table class="table is-fullwidth is-hidden-mobile skills-table">
  <thead>
      <th class="table-is-tiny"></th>
      <th>
        <div class="dropdown skills-dropdown">
          <div class="dropdown-trigger quest-title-trigger">
            <button class="button" aria-haspopup="true" aria-controls="title-menu">
              <span class="skills-dropdown-text">Quest Name</span>
              <span class="icon is-small">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu skills-dropdown-menu" id="title-menu" role="menu">
            <div class="dropdown-content">
              <div class="dropdown-item">
                  <label>Search by title</label>
                   <p class="control has-icons-right is-expanded">
                    <input class="input search-input" id="quest-text-filter" type="text" placeholder="Title...">
                    <span class="icon is-small is-right">
                      <i class="fa fa-search"></i>
                    </span>
                  </p>
              </div>
            </div>
          </div>
        </div>
      </th>
      <th> 
      <div class="dropdown skills-dropdown">
        <div class="dropdown-trigger quest-diff-trigger">
          <button class="button" aria-haspopup="true" aria-controls="title-menu">
            <span class="skills-dropdown-text">Difficulty</span>
            <span class="icon is-small">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu skills-dropdown-menu" id="title-menu" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
                <input type="checkbox" name="quest-diff-filter" value="0" />&nbsp; Novice
            </div>
            <div class="dropdown-item">
                <input type="checkbox" name="quest-diff-filter" value="1" />&nbsp; Intermediate
            </div>
            <div class="dropdown-item">
                <input type="checkbox" name="quest-diff-filter" value="2" />&nbsp; Experienced
            </div>
            <div class="dropdown-item">
                <input type="checkbox" name="quest-diff-filter" value="3" />&nbsp; Master
            </div>
             <div class="dropdown-item">
                <input type="checkbox" name="quest-diff-filter" value="4" />&nbsp; Grandmaster
            </div>
            <div class="dropdown-item">
                <input type="checkbox" name="quest-diff-filter" value="250" />&nbsp; Special
            </div>
          </div>
        </div>
      </div>
      </th>
      <th>
        <div class="dropdown skills-dropdown">
          <div class="dropdown-trigger quest-member-trigger">
            <button class="button" aria-haspopup="true" aria-controls="title-menu">
              <span class="skills-dropdown-text">Members</span>
              <span class="icon is-small">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu skills-dropdown-menu" id="title-menu" role="menu">
            <div class="dropdown-content">
              <div class="dropdown-item">
                  <input type="checkbox" name="quest-member-filter" value="false" />&nbsp; F2P quests
              </div>
              <div class="dropdown-item">
                   <input type="checkbox" name="quest-member-filter" value="true" />&nbsp; Members quests
              </div>
            </div>
          </div>
        </div>
      </th>
      <th>
       <div class="dropdown skills-dropdown">
        <div class="dropdown-trigger quest-status-trigger">
          <button class="button" aria-haspopup="true" aria-controls="title-menu">
            <span class="skills-dropdown-text">Status</span>
            <span class="icon is-small">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu skills-dropdown-menu" id="title-menu" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
                <input type="checkbox" name="quest-status-filter" value="STARTED" />&nbsp; Started
            </div>
            <div class="dropdown-item">
              <input type="checkbox" name="quest-status-filter" value="NOT_STARTED" /> &nbsp; Not Started 
            </div>
            <div class="dropdown-item">
                 <input type="checkbox" name="quest-status-filter" value="COMPLETED" />&nbsp; Completed
            </div>
          </div>
        </div>
      </div>
      </th>
      <th class="table-is-tiny"></th>
  </thead>
  <tbody class="quest-body" data-quests="{{quests | json_encode()}}">
    {% for quest in quests %}
      <tr>
        <td><img src="{{ base_path ~ directory }}/img/icons/quest.png" alt="" /></td>
        <td><b><a href="http://runescape.wikia.com/wiki/{{ quest.title }}">{{ quest.title }}</a></b></td>
        <td>
          {{ attribute(quest_difficulties, quest.difficulty) }}
        </td>
        <td>
          <img src="{{ base_path ~ directory }}/img/icons/{{ quest.members == 1 ? 'members' : 'free_to_play' }}.png" alt="" />
        </td>
        <td>
          {{ quest.status|replace({'_':' '})|lower|capitalize }}
        </td>
        <td data-balloon="Quest points: {{ quest.questPoints }} {{ (quest.status == 'NOT_STARTED') ? (quest.userEligible == 1) ? '&#10;Quest requirements: ✔'  : '&#10;Quest requirements: ❌' }} " data-balloon-pos="left" data-balloon-break >
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{# Mobile card view #}

<div class='mobile-skills is-hidden-tablet'>
  {% for quest in quests %}
    <div class="card skill-card">
      <header class="card-header">
        <p class="card-header-title">
          <img src="{{ base_path ~ directory }}/img/icons/quest.png" class="quest-icon" alt="" />
          <b>&nbsp;<a href="http://runescape.wikia.com/wiki/{{quest.title}}">{{ quest.title }}</a></b>
        
          <div class="mobile-quest-label">
            <img src="{{ base_path ~ directory }}/img/icons/{{ quest.members == 1 ? 'members' : 'free_to_play' }}.png" alt="" />
          </div>
        </p>
      </header>
      <div class="card-content">
        <div>
          <span class="skill-label">Difficulty:</span>
          {{ attribute(quest_difficulties, quest.difficulty) }}
        </div>
        <div>
          <span class="skill-label">Status:</span>
          {{ quest.status|replace({'_':' '})|lower|capitalize }}
        </div>
        <div class="mobile-quest-info-tag" data-balloon="Quest points: {{ quest.questPoints }} {{ (quest.status == 'NOT_STARTED') ? (quest.userEligible == 1) ? '&#10;Quest requirements: ✔'  : '&#10;Quest requirements: ❌' }} " data-balloon-pos="left" data-balloon-break>
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
      </div>
    </div>
{% endfor %}
</div>