{# Tablet + table view #}

<table class="table is-fullwidth is-hidden-mobile skills-table">
  <thead>
    <tr>
      <th class="table-is-tiny"></th>
      <th>Skill</th>
      <th class="table-is-small">Level</th>
      <th class="table-is-large">Experience</th>
      <th>Rank</th>
      <th class="table-is-large">Today</th>
      <th class="table-is-large">Yesterday</th>
      <th class="table-is-large">
        <div class="dropdown skills-dropdown" data-player="{{ player.pl_id }}">
        <div class="dropdown-trigger skills-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span class="skills-dropdown-text">This week</span>
            <span class="icon is-small">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu skills-dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a data-period="current-week" class="dropdown-item skill-dropdown-item">
              This week
            </a>
            <a data-period="last-week" class="dropdown-item skill-dropdown-item ">
              Last week
            </a>
            <a data-period="last-month" class="dropdown-item skill-dropdown-item">
              This month
            </a>
            <hr class="dropdown-divider">
            <div class="dropdown-item">
              <label>Custom time period</label>
              <div class="field has-addons">
                <div class="control">
                  <input class="input is-small datepicker custom-period-start" type="text" placeholder="Start date">
                </div>
                <div class="control">
                  <input class="input is-small datepicker custom-period-end" type="text" placeholder="End date">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </th>
      <th class="table-is-small">% to 99</th>
      <th class="table-is-small">% to 120</th>
    </tr>
  </thead>
  <tbody>
    {# total exp line #}
      <tr>
        <td><img class="skill-icon" src="{{ base_path ~ directory }}/img/icons/total.png" alt="" /></td>
        <td>Overall</td>
        <td>{{ player.pl_total_skill }}{{ overall.levels_gained > 0 ? "(+"~overall.levels_gained~")" : "" }}</td>
        <td>{{ player.pl_total_exp|number_format }}</td>
        <td>{{ player.pl_total_rank|number_format }} (<span class="blue">{{ overall.ranks_gained > 0 ? "+" : "" }}{{ overall.ranks_gained }}</span>)</td>
        <td class="{{ overall.experience_today|slice(0, -1) > 0 ? "green bold" : "" }}">{{ overall.experience_today|slice(0, -1)|number_format }}</td>
        <td class="{{ overall.experience_yesterday|slice(0, -1) > 0 ? "green bold" : "" }}">{{ overall.experience_yesterday|slice(0, -1)|number_format }}</td>
        <td class="dynamic-overall {{ overall.experience_week|slice(0, -1) > 0 ? "orange bold" : "" }}">{{ overall.experience_week|slice(0, -1)|number_format }}</td>
        <td>{{ overall.percentage_to_max > 100 ? 100 : overall.percentage_to_max|round }}%</td>
        <td>{{ overall.percentage_to_true_max > 100 ? 100 : overall.percentage_to_true_max|round }}%</td>
      </tr>

    {% for skill_key,skill_value in skill_values %}
      <tr>
        <td><img class="skill-icon" src="{{ base_path ~ directory }}/img/icons/{{ attribute(skills, skill_key).sk_name|lower }}.png" alt="" /></td>
        <td>{{ attribute(skills, skill_key).sk_name }}</td>
        <td>{{ skill_value.ex_level }} {{ attribute(exp_today, skill_key).level == 0 ? "" : "(+"~attribute(exp_today, skill_key).level~")" }}</td>
        <td>{{ skill_value.ex_value|slice(0, -1)|number_format }}</td>
        <td>{{ skill_value.ex_rank|number_format }} (<span class="blue">{{ attribute(exp_today, skill_key).rank > 0 ? "+" : "" }}{{ attribute(exp_today, skill_key).rank  }}</span>)</td>
        <td class="{{ attribute(exp_today, skill_key).experience|slice(0, -1) > 0 ? "green bold" : "" }}">{{ attribute(exp_today, skill_key).experience|slice(0, -1)|number_format }}</td>
        <td class="{{ attribute(exp_yesterday, skill_key).experience|slice(0, -1) > 0 ? "green bold" : "" }}">{{ attribute(exp_yesterday, skill_key).experience|slice(0, -1)|number_format }}</td>
        <td class="dynamic {{ attribute(exp_this_week, skill_key).experience|slice(0, -1) > 0 ? "orange bold" : "" }}">{{ attribute(exp_this_week, skill_key).experience|slice(0, -1)|number_format }}</td>
        {% if attribute(skills, skill_key).sk_is_elite == true %}
          <td>{{ ((skill_value.ex_value|slice(0, -1) /  36073511)*100) > 100 ? 100 : ((skill_value.ex_value|slice(0, -1) /   36073511)*100)|round }}%</td>
          <td>{{ ((skill_value.ex_value|slice(0, -1) / 80618654)*100) > 100 ? 100 : ((skill_value.ex_value|slice(0, -1) / 80618654)*100)|round }}%</td>
        {% else %}
          <td>{{ ((skill_value.ex_value|slice(0, -1) / 13034431)*100) > 100 ? 100 : ((skill_value.ex_value|slice(0, -1) / 13034431)*100)|round }}%</td>
          <td>{{ ((skill_value.ex_value|slice(0, -1) / 104273167)*100) > 100 ? 100 : ((skill_value.ex_value|slice(0, -1) / 104273167)*100)|round }}%</td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{# Mobile card view #}

<div class='mobile-skills is-hidden-tablet'>
  {% for skill_key,skill_value in skill_values %}
    <div class="card skill-card">
      <header class="card-header">
        <p class="card-header-title">
          <img class="skill-icon" src="{{ base_path ~ directory }}/img/icons/{{ attribute(skills, skill_key).sk_name|lower }}.png" alt="" />
          {{ attribute(skills, skill_key).sk_name }}
        </p>
      </header>
      <div class="card-content">
          <div><span class="skill-label">Level:</span>{{ skill_value.ex_level }} {{ attribute(exp_today, skill_key).level == 0 ? "" : "(+"~attribute(exp_today, skill_key).level~")" }}</div>
          <div><span class="skill-label">Experience:</span>{{ skill_value.ex_value|slice(0, -1)|number_format }}</div>
          <div><span class="skill-label">Rank:</span>{{ skill_value.ex_rank|number_format }} (<span class="blue">{{ attribute(exp_today, skill_key).rank > 0 ? "+" : "" }}{{ attribute(exp_today, skill_key).rank  }}</span>)</div>
          <div class="{{ attribute(exp_today, skill_key).experience|slice(0, -1) > 0 ? "green bold" : "" }}"><span class="skill-label">Today:</span>{{ attribute(exp_today, skill_key).experience|slice(0, -1)|number_format }}</div>
          <div class="{{ attribute(exp_yesterday, skill_key).experience|slice(0, -1) > 0 ? "green bold" : "" }}"><span class="skill-label">Yesterday:</span>{{ attribute(exp_yesterday, skill_key).experience|slice(0, -1)|number_format }}</div>
          <div class="{{ attribute(exp_this_week, skill_key).experience|slice(0, -1) > 0 ? "orange bold" : "" }}"><span class="skill-label">This week:</span>{{ attribute(exp_this_week, skill_key).experience|slice(0, -1)|number_format }}</div>
      </div>
    </div>
{% endfor %}
</div>