/* Other styles */
html, 
body {
  min-height: 100vh;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  background-color: #F1F1F1;
}

::selection {
  background: #66b1e4; }

::-moz-selection {
  background: #66b1e4; }

/* Some fixes/overwrites to Bulma defaults*/

.hero-body {
  padding: 4em 2em 2em 2em;
}
.hero.is-fullheight .hero-body.is-not-centered {
  align-items: flex-start;
}
.hero-body.home {
  padding: 0;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.navbar-brand {
  flex-grow: 1;
  justify-content: center;
}
.navbar-menu {
  flex-grow: 0;
}
.content li+li {
  margin-top: 0;
}
.profile-heading p:not(:last-child) {
  margin-bottom: 0;
}

/*  Home  */
.home-illustration {
  margin-top: 52px;
}
.home-illustration img {
  max-width: 60%;
  margin: 0 auto;
}
.home-search {
  max-width: 500px;
  margin: 80px auto;
}
.home-search input, .home-search select {
  min-height: 50px;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  outline: none;
  z-index: 2;
  border:none;
}
.home-search .select:not(.is-multiple)::after {
  top: 70%;
}
.home-search input[type="text"]{
 color:#95A5A6;
 z-index: 2;
}
.home-search input[type="submit"]{
 z-index: 2;
}
.home-search input[type="submit"]:active{
 background-color: #217dbb;
}
.home-hiscore .table {
  margin-bottom: 0;
}
.changelog {
  font-size: 0.9em;
}
.is-nightmode .changelog, .is-nightmode .changelog .title {
  color: #8f9ba2;
}

/*  Nav  */

.navbar-search {
  display: flex;
  align-items: center;
}
.navbar-search input, .navbar-search select {
  height: 52px;
  box-shadow: none;
  border: none;
  border-radius: 0 !important;
}
.navbar-search select {
  background-color: #F1F1F1;
}
.navbar-search select:hover {
  background-color: #ededed;
}
.navbar-search .select:not(.is-multiple)::after {
  top: 70%;
}
.navbar-search input {
  border-bottom: 1px solid transparent;
}
.navbar-search input:focus {
  border-bottom-color: #3498db;
}
.navbar-search input:focus, .navbar-search select:focus {
  box-shadow: none;
}
.home-search {
  box-shadow: 0 2px 3px rgba(10,10,10,.1);
}
.home-search input, .home-search select, .home-search input, .home-search .button {
  box-shadow: none;
}
.home-search input:focus, .home-search select:focus {
  box-shadow: 0 3px 3px -3px rgba(10,10,10,.2);
  z-index: 2 !important;
}
/*
.login-buttons {
  padding: 0;
  margin-left: 1rem;
}
.login-buttons .button {
  min-height: 3.25rem;
  border: none;
  border-radius: 0;
}
*/
/*  Clan page   */

.skill-icon {
  max-height: 25px;
}
.bold {
  font-weight: 700;
}
.green {
  color: #27ae60;
}
.orange {
  color: #9b59b6;
}
.blue {
  color: #3498db;
}
.red {
  color: #e74c3c;
}

/*  Profile  */

.container.profile {
 margin-top:50px;
}
.profile-heading {
  position:relative;
}
.profile-heading .name {
 border-right: 1px solid #f1f1f1;
 padding: 20px 30px 0 30px;
}
.player-title-container {
  position: relative;
}
.profile-heading .followers {
 border-right: 1px solid #f1f1f1;
}
.center {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}
.profile-heading .stat-key {
 font-size: 20px;
 font-weight: 200;
}
.profile-heading .stat-val {
 font-size: 35px;
 font-weight: bold;
 margin-bottom: 0 !important;
}
.subnav {
 background-color: #f1f1f1;
 margin:-20px 0 20px 0;
}
.subnav .link a {
 padding:18px;
 font-size: 18px;
}
.subnav .link .icon {
 font-size: 16px;
 padding-top:2px;
}
.content ol, .content ul{
  margin-left: 0;
  list-style: none;
}
.skills-table, .members-table {
  table-layout: fixed;
}
.table-is-tiny {
  width: 5%;
}
.table-is-small {
  width: 7.5%;
}
.table-is-large {
  width: 12%;
}
.tagline {
 padding:20px 0;
 font-size: 16px;
 line-height: 1.4;
}
.name-history {
  font-size: 0.8em;
  font-style: italic;
  margin-top: 5px;
}
.inline {
  margin-left: 5px;
}
.avatar {
  float:right;
}
.claim {
 position:absolute;
 top: 10px;
 right: 10px;
}
.avatar img {
 max-width: 128px;
}
p.title.is-bold {
 font-weight: bold;
}
.rating-great {
  color: #27ae60;
}
.rating-normal {
  color: #2ecc71;
}
.rating-bad {
  color: #e67e22;
}
.footer-content {
  margin-bottom: 30px;
  font-size: 0.9em;
}
.footer-content a, .footer-content span {
  padding: 0 15px;
}
.footer-content a:after {
  color: #4a4a4a;
  content:'|';
  position: relative;
  left: 15px;
}
.skills-dropdown span {
  font-weight: bold;
}
.skills-dropdown button {
  border:none;
  padding: 0;
  outline: none;
  height: auto;
}
.skills-dropdown button:active {
  outline: none;
}
.drop-card .card-content {
  display: flex;
  align-items: center;
  height: 180px;
}
.card-content .title {
  margin-bottom: 0;
}
.card-content img {
  margin-right: 20px;
  max-width: 75px;
}
.drop-card {
  height: 230px;
  width: 275px;
}
.drop-cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.error-box {
  margin-top: 50px;
}
.drop-card {
  margin: 25px;
}
.pin-drop {
  position:absolute;
  top:10px;
  right: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pinned {
  border: solid 2px #f39c12;
}
.hidden {
  display: none;
}
.quest-body tr {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation: questTabFadeIn 0.2s;
    animation: questTabFadeIn 0.2s;
}

@-webkit-keyframes questTabFadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes questTabFadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.competition-card
{
    margin: 25px;
    min-width: 275px;
}

.competition-header img {
  margin-right: 20px;
  max-width: 75px;
}

.competition-card-footer
{
    text-align: center;
}

/*  Login  and register  */

.email-input,
.password-input,
.confirm-password-input {
  height: 3rem;
  box-shadow: none;
  border: none;
  padding-left: 57px !important;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.login-form .button, .register-form .button {
  height: 3rem;
}
.login-form input:focus, .register-form input:focus {
  box-shadow: 0 0 0 2px rgba(10, 10, 10, 0.1);
}
.icon.is-left {
  margin: 7px auto;
  padding: 0 22px;
  border-right: 1px solid #ddd;
}
.forgot-password a {
  color: #95A5A6;
  padding-right: 20px;
  white-space: nowrap;
}
.is-nightmode .input:not(:focus), 
.is-nightmode .password-input:not(:focus),
.is-nightmode .confirm-password-input:not(:focus) {
  box-shadow: none;
}

/* Change-password inputs */

.change-password .input {
  height: 3rem;
  box-shadow: none;
  border: none;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.change-password .input:focus {
  box-shadow: 0 0 0 2px rgba(10, 10, 10, 0.1);
}
.change-password .button {
  padding: 0 1.5rem;
  height: 3rem;
}
.member-table-sort, .dashboard-table-sort {
  cursor:pointer;
}

/* Dashboard inputs */

.dashboard-members input,
.dashboard-members select,
.dashboard-members .select,
.dashboard-members .file-cta {
  height: 3rem;
  box-shadow: none;
}
.dashboard-members .button {
  padding: 0 1.5rem;
}

/* Activity tab */

.activity-list ul
{
    display: flex;
    flex-wrap:wrap;
    margin:-10px 0 0 -10px;
}

.activity-list ul > li
{
    display: inline-block;
    margin:10px 0 0 10px;
    flex-grow: 0;
    height:30px;    
    width: calc(100% * (1/3) - 10px - 1px);
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);

}

.activity-icon
{
    width: 25px;
    height: 25px;
    padding: 3px 0px 0px 3px;
    margin-right: 5px;
}

.activity-text
{
    position: relative;
    top: -5px;
    font-size: 14px;
}



/* Table fixes */
/* Disable hover color on table headings */
table thead tr:hover > th {
  background: #fff;
}
.is-nightmode table thead tr:hover > th {
  background: #303d45;
}
.content table td, .content table th, .content table td img {
  vertical-align: middle;
}

/*  Dashboard  */

.dashboard-nav {
  margin-bottom: 0px !important;
}
.dashboard-nav ul {
  border-bottom: none;
}
.dashboard-nav li + li {
  margin-top: 0;
}

/*  Default  */

.content {
  padding-top: 52px;
  /*padding: 40px 0;*/
}
.dev-message {
  background-color: #e74c3c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.beta {
  background-color: #e74c3c;
  width: 20px;
  display: block;
  min-height: 52px;
  float:left;
}
.beta p {
  position:relative;
  top: 25px;
  letter-spacing: 2px;
  font-size: 0.7em;
  color: #fff;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.inline-avatar {
  max-width: 30px;
}
.dev-container {
  display:flex;
  flex-wrap: wrap;
}
.dev-item {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 50%;
  margin-bottom: 30px;
  flex-wrap: wrap;
  flex-direction: column;
}
.dev-item p {
  width: 75%;
}
.dev-item img {
  border-radius: 50%;
  max-height: 80px;
  max-width: 80px;
  margin-right: 15px;
  flex-grow:0;
}
.inline-profile-badge {
  display: inline-block;
  margin-left: 10px;
}
.hcim {
  background-image: url('../img/icons/hcim_badge.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
}
.im {
  background-image: url('../img/icons/im_badge.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 13px;
  height: 7px;
}
.server-status {
  margin-left: 10px;
}
.status-card label {
  font-weight: bold;
}
.note {
  font-style: italic;
  color: #abb4b9;
  font-size: 0.9em;
}
.status-card img {
  max-height: 40px;
  margin-right: 10px;
}
.error-cover {
  margin-top: 30px;
}
.error-cover  p {
  margin-bottom: 10px;
}
.maintenance {
  display:flex;
  align-items: center;
  flex-direction: column;
}
.shutdown {
  margin-top: 20px;
}
.transparency-table {
  margin: 20px 0;
}
.loading-indicator {
  display: block;
  width: 30px;
  margin: 100px auto;
}

/* ======================================================
======================== Mobile ========================
======================================================== */

@media screen and (max-width: 768px) {

  .hero-body {
    padding: 1em;
  }
  .hero-body.home {
    padding: 1em;
  }
  /* Profile heading */
  .avatar {
    float:none;
    margin: 20px auto;
  }
  .name {
    text-align: center;
  }
  .name, .followers {
    border-right: none !important;
  }

  /* Profile subnav */
  .subnav .tabs ul  {
    flex-direction: column;
  }
  .subnav .tabs ul li {
    width: 100%;
  }

  /* Skills view */
  .skill-card {
    margin-bottom: 10px;
  }
  .skill-label {
    display: inline-block;
    width: 150px;
  }
  .skill-icon {
    margin-right: 15px;
  }
  .footer-content {
    margin-bottom: 15px;
  }
  .footer-content span {
    margin-top: 5px;
    display:block;
  }
  .footer-content a:last-of-type::after {
    content:'';
  }
  .mobile-quest-label{
    position: relative;
    float:right;
    margin: 10px 10px 0px 0px;
  }
  .mobile-quest-info-tag{
    float:right;
    bottom: 65px;
    left: 5px;
  }
  .mobile-quest-title {
    display: inline-block!important;
  }
  .dev-item {
    width: 100%;
  }  
  .navbar-search {
    display:none;
  }
    
  .activity-text
   {
        font-size: 2.5vw;
   }
    
    
}

#world_form {
  margin-bottom: 20px;
}

/************ News Page ************/

#timeline {
  position: relative;
  margin: 3rem auto;
}
/* vertical line */
#timeline div:after {
  content: '';
  width: 2px;
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 60px;
  z-index: 1;
  background: #C5C5C5;
}
/* dates */
#timeline h3 {
  font-size: 1rem;
  margin: 0;
  position: relative;
  top: 0.6rem;
}
/* items */
#timeline ul {
  list-style-type: none;
  margin: -1.35rem 0 2rem 5rem;
  max-width: 40rem;
}
#timeline ul li {
  padding: .6rem .8rem;
  background: #e8e8e8;
  border-radius: 6px;
}
#timeline ul li:not(:first-child) {
  margin-top: .6rem;
}
/* bullet points */
#timeline ul li:before {
  content: '';
  width: 12px;
  height: 12px;
  background: #F1F1F1;
  border: 2px solid #3498db;
  border-radius: 50%;
  position: absolute;
  left: 55px;
  margin-top: 7px;
  z-index: 2;
}
/* small items */
#timeline ul li:not(:first-of-type):before {
  width: 10px;
  height: 10px;
  margin-top: 9px;
  left: 56px;
}
/* highlighted items */
#timeline ul li.highlight:before {
  background: #3498db;
  box-shadow: 0 0 4px#3498db;
}
/* nightmode */
.is-nightmode #timeline h3 { 
  color: #eee;
}

.is-nightmode #timeline ul li { 
  background: #303D45;
}

.is-nightmode #timeline div:after {
  background: #455863;
}

.is-nightmode #timeline li:before {
  background: #263137;
}

/* =======================================================
======================= Nightmode ========================
======================================================== */

.is-nightmode {
  background-color: #263137;
  color: #ccd1d7;
}
.is-nightmode .box {
  background-color: #303d45;
  color: #abb4b9;
}
/*
.is-nightmode .button {
  background-color: #303d45;
  color: #ccd1d7;
}
*/
.is-nightmode nav {
  background-color: #303d45;
}
.is-nightmode .navbar-menu {
  background-color: #303d45;
}
.is-nightmode .navbar-dropdown {
  background-color: #303d45;
  border-color: #263137;
}
.is-nightmode .navbar-divider {
  background-color: #263137;
} 
.is-nightmode .navbar-item, .is-nightmode .navbar-link {
  background-color: #303d45;
  color: #abb4b9;
}
.is-nightmode .navbar-item:hover, .is-nightmode .navbar-link:hover {
  color: #ccd1d7;
  background-color: #263137;
}
.is-nightmode .navbar.is-transparent .navbar-dropdown a.navbar-item:hover {
  color: #ccd1d7;
  background-color: #263137;
}
.is-nightmode .label {
  color: #ccd1d7;
}
.is-nightmode .tabs a {
  border-bottom-color: #303d45;
  color: #abb4b9;
}
.is-nightmode .tabs a:hover {
  border-bottom-color: #5c686e;
  color: #5c686e;
}
.is-nightmode .subnav {
  background-color: #263137;
  color: #abb4b9;
}
.is-nightmode table {
  background-color: #303d45;
  color: #abb4b9;
}
.is-nightmode table th {
  border-color: #263137;
  color: #fff;
}
.is-nightmode table td {
  border-color: #263137;
}
.is-nightmode .title {
  color: #ccd1d7;
}
.is-nightmode .subtitle {
  color: #ccd1d7;
}
.is-nightmode .name, .is-nightmode .followers {
  border-right: solid 1px #263137;
}
.is-nightmode .icon.is-left {
  border-right: 1px solid #95A5A6;
  color: #95A5A6;
}
.is-nightmode .control input:focus ~ .icon.is-left {
  color: #f1f1f1 !important;
}
.is-nightmode input, .is-nightmode select {
  background-color: #1e272b;
  color:#95A5A6;
  border:none;
}
.is-nightmode .navbar-search input, .is-nightmode .navbar-search select {
  height: 52px;
  background-color: #303D45;
  box-shadow: none;
}
.is-nightmode.navbar-search select {
  background-color: #263137;
}
.is-nightmode .select:hover:after {
  border-color: #ccd1d7; /* down arrow */
}
.is-nightmode .navbar-search input {
  border-bottom: 1px solid transparent;
}
.is-nightmode .navbar-search input:focus {
  border-bottom: 1px solid #3498db;
}
.is-nightmode .home-search .search-input {
  box-shadow: rgba(10, 10, 10, 0.1) 0px 2px 3px, rgba(10, 10, 10, 0.1) 0px 0px 0px 1px;
  border-radius: 0;
}
.is-nightmode .home-search select:focus {
  box-shadow: none;
}
.is-nightmode .card {
  background-color: #263137;
  color: #ccd1d7;
}
.is-nightmode .card-header-title {
  color: #fff;
}
.is-nightmode .card-footer, .is-nightmode .card-footer-item{
  border-color: #303D45;
}
.is-nightmode .table tr:hover {
  background-color: #263137;
}
.is-nightmode a:hover {
  color: #66b1e4;
}
.is-nightmode .pagination-previous, .is-nightmode .pagination-next, .is-nightmode .pagination-link {
  border-color: #263137;
}
.is-nightmode .pagination-previous:hover, .is-nightmode .pagination-next:hover, .is-nightmode .pagination-link:hover {
  background-color: #263137;
}
.is-nightmode .content table thead td, .is-nightmode .content table thead th {
  color: #fff;
}
.is-nightmode .tabs.is-boxed li.is-active a {
  background-color: #303d45;
  border: solid 1px #263137;
}
.is-nightmode .tabs.is-boxed a:hover {
  background-color: #303d45;
}
.is-nightmode hr {
  background-color: #1e272b;
}
.is-nightmode .box hr {
  background-color: #263137;
}
.is-nightmode .select select {
  background-color: #1e272b;
  color: #95A5A6;
  border: none;
}
.is-nightmode .pika-single {
  color: #fff;
  background: #303d45;
  border: 1px solid #263137;
}
.is-nightmode .pika-label {
  background-color: #303d45;
}
.is-nightmode .pika-prev,
.is-nightmode .is-rtl .pika-next {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAQAAACGG/bgAAAAQ0lEQVR4Ae3KIQ4AIBTD0N0/IeHGI3UIRA3ut/Zl+ltXc5++htVAmIAwAWECwgSEKbgthEoIlRAqIVRCqINQB9nDgQd7ktwFo6UpWQAAAABJRU5ErkJggg==');
}
.is-nightmode .pika-next,
.is-nightmode .is-rtl .pika-prev {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAQAAACGG/bgAAAAP0lEQVQ4y+3TMQoAMAgEwfwfAvvjTZ1uGzuvHhBPPGczEG+FRqqRaqQaqUaqkX6QBmmjacvQ6qEVTjsh+xizebvlaWptGXZAAAAAAElFTkSuQmCC');
}
.is-nightmode .pika-table th {
  color: #999;
}
.is-nightmode .pika-button {
  color: #fff;
  background: #263137;
}
.is-nightmode .pika-week {
  color: #999;
}
.is-nightmode .is-today .pika-button {
  color: #33aaff;
}
.is-nightmode .is-selected .pika-button {
  color: #fff;
  background: #33aaff;
  box-shadow: inset 0 1px 3px #178fe5;
}
.is-nightmode .is-disabled .pika-button {
  color: #999;
  opacity: .3;
}
.is-nightmode .pika-button:hover {
  color: #fff !important;
  background: #ff8000 !important;
}
.is-nightmode .skills-dropdown button {
  background-color: #303d45;
  color: #fff;
}
.is-nightmode .dropdown-content {
  background-color: #303d45;
}
.is-nightmode .dropdown-item {
  color: #abb4b9;
}
.is-nightmode a.dropdown-item:hover {
  background-color: #263137;
  color: #fff;
}
.is-nightmode .footer-content a:after {
  color: #ccd1d7;
}
.is-nightmode .status-card {
  background-color: #303d45;
}
.is-nightmode .change-password input:not(:focus) {
  box-shadow: none;
}