<?xml version="1.0" encoding="UTF-8" ?>
 <rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:media="http://search.yahoo.com/mrss/" version="2.0">
    <channel>
        <title>RuneLogs feed for {{ name }} </title>
        <link>http://runelo.gs/profile/{{name}}</link>
        <description>Runelogs is an online experience tracker &amp; clan management tool for the MMORPG Runescape.</description> 
        <language>en</language>
        <generator>RuneLogs RSS</generator>
         {% for drop in drops %}
            <item>
                <title>{{ drop.dr_title }}</title>
                <description>{{name}} has received this drop on {{drop.dv_timestamp | date("d M Y") }}</description>
                <enclosure url="https://runelo.gs/img/items/{{drop.dr_img_id}}.png" length="0" type="image/png" />
            </item>
         {% endfor %}
    </channel>
</rss>