<div class="subnav">
    <div class="tabs is-fullwidth">
      <ul>
        <li class="link {{ subpage == 'members' or subpage == null ? "is-active" : "" }}"><a href="/clan/{{ name|replace({' ': '+'})|lower }}/members"><span class="icon"><i class="fa fa-list"></i></span> <span>Members</span></a></li>
        <li class="link {{ subpage == 'drops' ? "is-active" : "" }}"><a href="/clan/{{ name|replace({' ': '+'})|lower }}/drops"><span class="icon"><i class="fa fa-dollar"></i></span> <span>Drops</span></a></li>
        <li class="link {{ subpage == 'competitions' ? "is-active" : "" }}"><a href="/clan/{{ name|replace({' ': '+'})|lower }}/competitions"><span class="icon"><i class="fa fa-trophy"></i></span> <span>Competitions</span></a></li>
        <li class="link {{ subpage == 'activity' ? "is-active" : "" }}"><a href="/clan/{{ name|replace({' ': '+'})|lower }}/activity"><span class="icon"><i class="fa fa-history"></i></span> <span>Activity</span></a></li>
      </ul>
    </div>
  </div>