{% include '/common/header.twig' %}

<section class="hero is-fullheight">

  {% include '/common/nav.twig' %}

  <div class="hero-body is-not-centered">
    
    <div class="container">
      
      <div class="content">

      {% if clan == false %}

      <div class="notification is-danger clan-not-found">
        Couldn't find that clan.
      </div>

      {% else %}

      {% include '/clan/clan_info.twig' %}

      {% include '/clan/clan_subnav.twig' %}

      <div class="spacer"></div>

      <section class="box sub-content">

        {% include '/clan/subpages/members.twig' %}
      
      </section>

    {% endif %}

      </div>

    </div>

  </div>

{% include '/common/footer.twig' %}