<div class="section profile-heading box">
    <div class="columns">
      <div class="column is-2">
        <div class="image is-128x128 avatar">
          <img src="{{ base_path ~ directory }}/img/clans/{{ clan.logo }}.png">
        </div>
      </div>
      <div class="column is-3 name">
        <p>
          <span class="title is-bold">{{ clan.cl_name }}</span>
        </a>
        </p>
        <p class="tagline">{{ clan.cl_slogan }}</p>
      </div>
      <div class="column is-2 followers has-text-centered center">
        <p class="stat-val {{ clan.total_clan_exp_today > 0 ? "green bold" : "" }}">+{{ clan.total_clan_exp_today|slice(0, -1)|number_format }}</p>
        <p class="stat-key">experience today</p>
      </div>
      <div class="column is-2 followers has-text-centered center">
        <p class="stat-val">{{ clan.member_count }}</p>
        <p class="stat-key">members</p>
      </div>
      <div class="column is-3 has-text-centered center">
        <p class="stat-val">{{ clan.total_clan_exp|number_format }}</p>
        <p class="stat-key">clan exp</p>
      </div>
    </div>
  </div>