  <div class="hero-foot">
    <div class="container">
      <div class="footer-content has-text-centered">
        <p>
              <a class="icon is-primary" href="https://twitter.com/RuneLogs">
                      <i class="fa fa-twitter"></i>
                    </a>
          <a href="/team">Team</a><a href="/status">Status</a><a href="/transparency">Transparency</a><span>{{ footer_countdown }} </span>
        </p>
      </div>
    </div>
  </div>

</section>

<script src="{{ base_path ~ directory }}/js/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="{{ base_path ~ directory }}/js/script.js"></script>
<script src="{{ base_path ~ directory }}/js/quest.js"></script>

</body>
</html>