<!DOCTYPE html>
<html lang="en">
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40503600-7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-40503600-7');
  </script>
  <!--
  ______                 _                     
  | ___ \               | |                    
  | |_/ /   _ _ __   ___| |     ___   __ _ ___ 
  |    / | | | '_ \ / _ \ |    / _ \ / _` / __|
  | |\ \ |_| | | | |  __/ |___| (_) | (_| \__ \
  \_| \_\__,_|_| |_|\___\_____/\___/ \__, |___/
                                      __/ |    
                                     |___/     

  Thanks for checking out our code! Are you interested in helping out? 
  Direct message me on Twitter, @dreadnip and we can talk about it.
  -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if name is defined %}
  <title>{{ name|capitalize }} | Runelogs</title>
  {% elseif route is defined and route != '' %}
  <title>{{ route }} | Runelogs</title>
  {% else %}
  <title>Home | Runelogs</title>
  {% endif %}
  <meta name="description" content="Runelogs is an online experience tracker &amp; clan management tool for the MMORPG Runescape.">
  <meta name="author" content="@dreadnip">
  <meta property="og:title" content="Runelogs | The #1 Runescape experience tracker &amp; clan management tool" />
  <meta property="og:site_name" content="Runelogs | The #1 Runescape experience tracker &amp; clan management tool" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Runelogs is an online experience tracker &amp; clan management tool for the MMORPG Runescape." />
  <meta property="og:url" content="https://runelo.gs" />
  <meta property="og:image" content="https://runelo.gs/img/icon.png" /> 
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/css/balloon.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/png" href="/img/favicon2.png">
</head>
<body class="{{ (nightmode is defined and nightmode == true) ? 'is-nightmode' : '' }}">