<nav class="navbar is-transparent has-shadow is-clearfix" role="navigation" aria-label="main navigation">

  <div class="beta" >
    <p>BETA</p>
  </div>

    <!-- Navbar search -->
    <div class="navbar-search">
      <form method="post" action="/search">

        <div class="field has-addons">
          <p class="control">
              <span class="select">
                <select name="search_type" class="navbar-search-select">
                  <option value="player" {{ session.search_type is defined and session.search_type == 'player' ? 'selected' : '' }}>Player</option>
                  <option value="clan" {{ session.search_type is defined and session.search_type == 'clan' ? 'selected' : '' }}>Clan</option>
                </select>
              </span>
            </p>
          <p class="control is-expanded">
            <input class="input search-input" name="search" type="text" placeholder="Search for a {{ session.search_type is defined ? session.search_type : 'player' }}..">
          </p>
        </div>

      </form>
    </div>

    <div class="navbar-brand">
      
      

      <a class="navbar-item" href="/">
        <img class="site-logo" src="/img/{{ session.nightmode is defined and session.nightmode == true ? 'icon.png' : 'icon.png' }}" alt="Runelogs logo">
      </a>

      <div class="navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>

    </div>

    <div class="navbar-menu">

      <div class="navbar-start">
        <a class="navbar-item is-tab" href="/news">
          News
        </a>
        <a class="navbar-item is-tab" href="/about">
          About
        </a>
      </div>
      <div class="navbar-end">

        {% if session.logged_in == true %}

          <div class="navbar-item has-dropdown account-dropdown is-hoverable">
            <a class="navbar-link">
              Account
            </a>

            <div class="navbar-dropdown">
              {% if session.player_profiles != false %}
                <div class="navbar-item">
                  Profiles
                </div>
                <hr class="navbar-divider">
                {% for player_profile in session.player_profiles %}
                  <a class="navbar-item" href="/profile/{{ player_profile.pl_name|replace({' ': '+'})|lower }}">
                    > {{ player_profile.pl_name }}
                  </a>
                {% endfor %}
                <hr class="navbar-divider">
              {% endif %}
              {% if session.player_profiles != false %}
                <div class="navbar-item">
                  Clans
                </div>
                {% for player_profile in session.player_profiles %}
                  {% if player_profile.pl_clan_rank == 'Owner' %}
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="/dashboard/{{ player_profile.cl_name|replace({' ': '+'})|lower }}">
                      {{ player_profile.cl_name }} clan dashboard
                    </a>
                  {% endif %}
                {% endfor %}
                <hr class="navbar-divider">
              {% endif %}
              <hr class="navbar-divider">
              <a class="navbar-item" href="/settings">
                Settings
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item"href="/logout">
                <span class="icon">
                  <i class="fa fa-sign-out"></i>
                </span>
                <span>Log Out</span>
              </a>
            </div>
          </div>


        {% else %}
          
          <a class="navbar-item is-tab " href="/register">
            <span>Sign up</span>
          </a>
          <a class="navbar-item is-tab " href="/login">
            <span class="icon">
              <i class="fa fa-sign-in"></i>
            </span>
            <span>Log In</span>
          </a>

        {% endif %}

        <a class="navbar-item night-mode-toggle" href="" title="Night Mode">
          <span class="icon">
            <i class="fa {{ session.nightmode is defined and session.nightmode == true ? 'fa-sun-o' : 'fa-moon-o' }}"></i>
          </span>
        </a>

      </div>
    </div>
</nav>