{% include '/common/header.twig' %}

<section class="hero is-fullheight">

  {% include '/common/nav.twig' %}

  <div class="hero-body is-not-centered">
    
    <div class="container">
      
      <div class="notification is-warning clan-not-found">
        <p><b>Page not found</b></br> Let's go back to the <a href="/">homepage</a> and try again</p>
      </div>

    </div>

  </div>

{% include '/common/footer.twig' %}