{% include '/common/header.twig' %}

<section class="hero is-fullheight">

  {% include '/common/nav.twig' %}

  <div class="hero-body is-not-centered">
    
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="content">
            <h1 class="title is-2">
              About
            </h1>
            <p>Runelo.gs is a character tracking &amp; clan management tool for the MMORPG Runescape. Our goal is to provide a clean, modern interface that allows players to track the experience they gain, work towards goals and save important drops.</p>
            <p>We also offer a set of tools to automate tasks for clan owners. Automatic cap checking, clan point systems &amp; an inactivity checker. We hope to alleviate some of the work that comes with managing a large clan, so that you can focus on your game.</p>
            <p>If you have any feature requests or bug reports, feel free to contact us through the on-site chat or any of the channels provided below.</p>
            <hr>
            <h2 class="title is-4">
              FAQ
            </h2>
            <h2 class="title is-5">Q: How do I add my clan/character?</h2>
            <p>Players and their clans are tracked by our systems as soon as they're searched by a user of the site.</p>
            <h2 class="title is-5">Q: Why do I need to make an account?</h2>
            <p>By creating an account and verifying ownership of your character (through our verification process), you get access to restricted functions like pinned drops, clan management and boss collections.</p>
            <h2 class="title is-5">Q: How do I link my character to my account?</h2>
            <p>Click the 
                  <span class="icon">
                    <i class="fa fa-link"></i>
                  </span>
                icon in the top right of your player profile once you're logged in.</p>
            <h2 class="title is-5">Q: Where can I find the clan management tools?</h2>
            <p>The clan dashboard is only available to users who have a verified Runescape character that is an owner of a clan. If you meet these requirements, you'll find the dashboard in the dropdown menu near the top right of your screen.</p>
            <hr>
            <h2 class="title is-4">
              Contact
            </h2>
            <ul>
              <li><a href="https://twitter.com/dreadnip">Twitter</a></li>
              <li><a href="mailto:support@runelo.gs">Email</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

{% include '/common/footer.twig' %}