{% include '/common/header.twig' %}

	<section class="hero is-fullheight">

		{# include '/common/nav.twig' #}

		<div class="hero-body home">
			<div class="container">
				<div class="columns">
					<div class="column is-6 is-offset-3">
						
						<!-- illustration -->
						
						<div class="home-illustration">
							<figure class="image">
				              <img src="{{ base_path ~ directory }}/img/banners/durzag-error.jpg" alt="Description">
				            </figure>
						</div>
						
						<!-- search -->
						<div class="shutdown has-text-centered">
							<p>Due to time constraints and real life commitments Runelogs has been shutdown.</p>
							<p>We hope you guys enjoyed the service while it lasted, we sure as hell loved building it.</p>
						</div>

					</div>
				</div>
			</div>
		</div>

{# include '/common/footer.twig' #}