{% include '/common/header.twig' %}

<section class="hero is-fullheight">

  {% include '/common/nav.twig' %}

  <div class="hero-body is-not-centered">
    
	<div class="container">
        
	  <div class="notification is-success clan-not-found">
	    <p><b>Account activated</b></br> You can now <a href="/login">log in</a>. Welcome!</p>
	  </div>

    </div>

  </div>

{% include '/common/footer.twig' %}