{% include '/common/header.twig' %}

	<section class="hero is-fullheight">

		{# include '/common/nav.twig' #}

		<div class="hero-body home">
			<div class="container">
				<div class="columns">
					<div class="column is-6 is-offset-3">
						
						<!-- illustration -->
						
						<div class="home-illustration">
							<figure class="image">
				              <img src="{{ base_path ~ directory }}/img/banners/durzag-error.jpg" alt="Description">
				            </figure>
						</div>
						
						<!-- search -->
						<div class="database-error has-text-centered">
							<p>We are currently experiencing database issues.</p>
							<p>We apologize for the inconvenience and are working hard to get everything back up and running as soon as possible.</p>
						</div>

					</div>
				</div>
			</div>
		</div>

{# include '/common/footer.twig' #}