{% include '/common/header.twig' %}

<section class="hero is-fullheight">

  {% include '/common/nav.twig' %}

  <div class="hero-body is-not-centered">
    
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="content">
            <h1 class="title is-2">
              Thanks!
            </h1>
            <p>Thank you for your donation. We really appreciate any help we get. If you have donated more than $5, feel free to pester one of the developers on Twitter (check the Team page) for an invite!</p>
          </div>
        </div>
      </div>
    </div>

  </div>

{% include '/common/footer.twig' %}