{% include '/common/header.twig' %}

<section class="hero is-fullheight">

  {% include '/common/nav.twig' %}

  <div class="hero-body is-not-centered">
    
	<div class="container">

		<div class="content">
        
		  <div class="notification is-danger clan-not-found">
		    <p><b>Nothing found</b></br>We couldn't find a clan or a player with that name. Try again!</p>
		  </div>
		  
		</div>

    </div>

  </div>

{% include '/common/footer.twig' %}