{% include '/common/header.twig' %}

<section class="hero is-fullheight">

  {% include '/common/nav.twig' %}

  <div class="hero-body is-not-centered">
    
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="content">
            <h1 class="title">
              Password reset
            </h1>

            {% if success is defined %}
              
              <div class="notification is-success">
                <strong>Yay!</strong></br>
                <p>{{ success }}</p>
              </div>
            
            {% elseif error is defined %}
              
              <div class="notification is-warning">
                <strong>Whoops</strong></br>
                <p>{{ error }}</p>
              </div>
              
              <form method="post" action="">

                <div class="field has-addons">
                  <p class="control">
                    <input class="input" name="email" type="text" placeholder="tom@gmail.com">
                  </p>
                  <p class="control">
                    <input class="button is-primary" type="submit" value="Reset password" />
                  </p>
                </div>

              </form>
              
            {% else %}

            <p>Enter your email address and we'll send you an email to reset your password.</p>
            <form method="post" action="">

              <div class="field has-addons">
                <p class="control">
                  <input class="input" name="email" type="text" placeholder="tom@gmail.com">
                </p>
                <p class="control">
                  <input class="button is-primary" type="submit" value="Reset password" />
                </p>
              </div>

            </form>

          {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>

{% include '/common/footer.twig' %}