{% include '/common/header.twig' %}

	<section class="hero is-fullheight">

		{% include '/common/nav.twig' %}

		<div class="hero-body home">
			<div class="container">
				<div class="columns">
					<div class="column is-6 is-offset-3">
						
						<!-- illustration -->
						
						<div class="home-illustration">
							<figure class="image">
				              <img src="{{ base_path ~ directory }}/img/banners/{{ session.nightmode is defined and session.nightmode == true ? 'home_n.png' : 'home.png' }}" alt="Description">
				            </figure>
						</div>
						
						<!-- search -->
						<div class="home-search">
							<form method="post" action="/search">

				                <div class="field has-addons search-type-field">
								 <p class="control">
                                  <span class="select">
                                    <select name="search_type" class="home-search-select">
                                      <option value="player" {{ session.search_type is defined and session.search_type == 'player' ? 'selected' : '' }}>Player</option>
                                      <option value="clan" {{ session.search_type is defined and session.search_type == 'clan' ? 'selected' : '' }}>Clan</option>
                                    </select>
                                  </span>
                                </p>
                                <p class="control is-expanded">
                                    <input class="input search-input" name="search" type="text" placeholder="Search for a {{ session.search_type is defined ? session.search_type : 'player' }}..">
                                  </p>
									<p class="control">
										<input class="button is-primary" type="submit" value="Search" />
									</p>
								</div>
							</form>
						</div>

						<div class="first-time has-text-centered">
							<p>First time? Check out our <a href="/about">FAQ</a></p>
						</div>

					</div>
				</div>
			</div>
		</div>

{% include '/common/footer.twig' %}