{% include '/common/header.twig' %}

<section class="hero is-fullheight">

	{% include '/common/nav.twig' %}

	<div class="hero-body">
		<div class="container">
	        <div class="columns">
	          	<div class="column is-4 is-offset-4">

					<div class="login-form">
						<form method="post" action="/login">

							{# Email #}

							{% if errors.user_email is defined %}

	    						<div class="field">
	    							<p class="control has-icons-left">
	    								<input class="input email-input is-danger" type="text" name="user_email" placeholder="zezima@jagex.org">
	    								<span class="icon warning is-left">
	    									<i class="fa fa-warning"></i>
	    								</span>
	    							</p>
	    							{% for error in errors.user_email %}
	    								<p class="help is-danger">{{ error }}</p>
	    							{% endfor %}
	    						</div>

							{% elseif form_input.user_email is defined %}

								<div class="field">
									<p class="control has-icons-left">
										<input class="input email-input" type="text" name="user_email" value="{{ form_input.user_email }}">
										<span class="icon user is-left">
											<i class="fa fa-user"></i>
										</span>
									</p>
								</div>

							{% else %}

		  						<div class="field">
		  							<p class="control has-icons-left">
		  								<input class="input email-input" type="text" name="user_email" placeholder="zezima@jagex.org">
		  								<span class="icon user is-left">
		  									<i class="fa fa-user"></i>
		  								</span>
		  							</p>
		  						</div>

							{% endif %}
							
							{# Password #}

							{% if errors.user_password is defined %}

	    						<div class="field">
	    							<p class="control has-icons-left">
	    								<input class="input password-input is-danger" type="password" name="user_password" placeholder="●●●●●●●">
	    								<span class="icon warning is-left">
	    									<i class="fa fa-warning"></i>
	    								</span>
	    							</p>
	    							{% for error in errors.user_password %}
	    								<p class="help is-danger">{{ error }}</p>
	    							{% endfor %}
	    						</div>

							{% else %}

								<div class="field">
									<p class="control has-icons-left">
										<input class="input password-input" type="password" name="user_password" placeholder="●●●●●●●">
										<span class="icon user is-left">
											<i class="fa fa-lock"></i>
										</span>
									</p>
								</div>

							{% endif %}

							<div class="field">
								<p class="control login">
					              <input class="button is-primary is-fullwidth" type="submit" value="Log In" />
					            </p>
							</div>

						</form>
					</div>

					<div class="section forgot-password">
						<p class="has-text-centered">
							<a href="/forgot">Forgot password</a>
							<a href="/support">Need help?</a>
						</p>
					</div>

				</div>
			</div>
		</div>
	</div>

{% include '/common/footer.twig' %}