{% include '/common/header.twig' %}

	<section class="hero is-fullheight">

		{# include '/common/nav.twig' #}

		<div class="hero-body">
			<div class="container">
				<div class="columns">
					<div class="column is-6 is-offset-3 maintenance">
						
						<!-- illustration -->
						
						<div>
				            <img class="maintenance-monkey" src="{{ base_path ~ directory }}/img/banners/maintenance.png" alt="Description">
						</div>
						
						<!-- search -->
						<div class="error-cover has-text-centered">
							<p>Our code monkeys are working hard on the website at the moment.</p>
							<p>We promise we'll be back up in no time!</p>
						</div>

					</div>
				</div>
			</div>
		</div>

{# include '/common/footer.twig' #}