{% include '/common/header.twig' %}

<section class="hero is-fullheight">

  {% include '/common/nav.twig' %}

  <div class="hero-body is-not-centered">

    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="content">
            <!-- Website status -->
            <h1 class="title is-2">
              News
            </h1>

            <div id="timeline">
              <div>
                <section>
                  <h3>31/10</h3>
                  <ul>
                    <li>Overhauled design for the news page (Otto)</li>
                  </ul>
                </section>

                <section>
                  <h3>30/10</h3>
                  <ul>
                    <li>Nightmode will now persist through new sessions </li>
                    <li>Virtual levels are live</li>
                    <li>Activity is fixed </li>
                  </ul>
                </section>

                <section>
                  <h3>24/10</h3>
                  <ul>
                    <li>Added citadel visits to clan page</li>
                    <li>Structural database changes to improve speed</li>
                  </ul>
                </section>

                <section>
                  <h3>16/10</h3>
                  <ul>
                    <li>Visual fixes to nightmode, competitions and clan pages</li>
                    <li>Donate button added.</li>
                  </ul>
                </section>

                <section>
                  <h3>13/10</h3>
                  <ul>
                    <li>Lots of technical stuff done: moved to a dynamic page layout for profiles, clans * dashboard</li>
                  </ul>
                </section>

                <section>
                  <h3>10/10</h3>
                  <ul>
                    <li>New design! (Thanks Otto)</li> 
                    <li>You can now search on previous names and un-link your player from the settings</li>
                    <li>We've upgraded to a more powerful server to increase stability</li>
                  </ul>
                </section>

                <section>
                  <h3>08/10</h3>
                  <ul>
                    <li>Quest page now has sorting and filters (Tim)</li>
                  </ul>
                </section>

                <section>
                  <h3>04/10</h3>
                  <ul>
                    <li>Added seasonals and their titles to the website (Kevin)</li>
                  </ul>
                </section>

                <section>
                  <h3>03/10</h3>
                  <ul>
                    <li>Improved query caching, better status page and better handling of dead clans</li>
                  </ul>
                </section>

                <section>
                  <h3>02/10</h3>
                  <ul>
                    <li>New logo</li>
                    <li>F2P account verification &amp; bugfixes</li>
                  </ul>
                </section>

                <section>
                  <h3>30/09</h3>
                  <ul>
                    <li>Hardcore/Ironman badges</li>
                    <li>Quest tab and bugfixes</li>
                  </ul>
                </section>

                <section>
                  <h3>28/09</h3>
                  <ul>
                    <li>Multiple improvements to nightmode, mobile view and back-end code</li>
                  </ul>
                </section>

                <section>
                  <h3>27/09</h3>
                  <ul>
                    <li>First draft of achievements went live</li>
                  </ul>
                </section>

                <section>
                  <h3>25/09</h3>
                  <ul>
                    <li>Added automatic citadel cap and visit tracker</li>
                  </ul>
                </section>

                <section>
                  <h3>24/09</h3>
                  <ul>
                    <li class="highlight">Experience tracking is live!</li>
                  </ul>
                </section>

                <section>
                  <h3>20/09</h3>
                  <ul>
                    <li>Added nightmode</li>
                  </ul>
                </section>

                <section>
                  <h3>19/09</h3>
                  <ul>
                    <li>Added user accounts</li>
                    <li>Added player verification</li>
                  </ul>
                </section>

                <section>
                  <h3>17/09</h3>
                  <ul>
                    <li class="highlight">Started initial development of the site</li>
                  </ul>
                </section>
              </div>
            </div>
            <!-- end timeline -->


          </div>
        </div>
      </div>
    </div>

  </div>

  {% include '/common/footer.twig' %}