{% include '/common/header.twig' %}

	<section class="hero is-fullheight">

		{% include '/common/nav.twig' %}

		<div class="hero-body home">
			<div class="container">
				<div class="columns">
					<div class="column is-6 is-offset-3">
						
						<div class="home-illustration">
							{% if error is defined %}
								<div class="notification is-danger ">
								  <p><b>Something went wrong!</b></br>
								  {{ error  | raw }}</p>
								</div>
							{% endif %}
						</div>
						
						<!-- search -->
						<div class="home-search">
							<form method="post" action="/search">

								<div class="field has-addons">
									<p class="control">
									    <span class="select">
									      <select name="search_type">
									        <option value="player">Player</option>
									        <option value="clan">Clan</option>
									      </select>
									    </span>
									  </p>
									<p class="control is-expanded">
										<input class="input search-input"  name="search" type="text" placeholder="Try again!">
									</p>
									<p class="control">
										<input class="button is-primary" type="submit" value="Search" />
									</p>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>

{% include '/common/footer.twig' %}