{% include '/common/header.twig' %}

<section class="hero is-fullheight">

  {% include '/common/nav.twig' %}

  <div class="hero-body is-not-centered">
    
    <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="content">

          <h1 class="title is-2">Account settings</h1>
          <div class="change-password">
            <h2 class="title is-4">Change password</h2>
            <form method="post" action="">
              <div class="field">
                <label class="label">Old password</label>
                <div class="control">
                  <input class="input" type="password" placeholder="●●●●●●●">
                </div>
              </div>
              <div class="field">
                <label class="label">New password</label>
                <div class="control">
                  <input class="input" type="password" placeholder="●●●●●●●">
                </div>
              </div>
              <div class="field">
                <label class="label">Confirm new password</label>
                <div class="control">
                  <input class="input" type="password" placeholder="●●●●●●●">
                </div>
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <input type="submit" class="button is-primary" value="Change"/>
                </div>
              </div>
            </form>
          </div>
          
          <hr>
          
          {% if session.player_profiles is empty %}
              <h2 class="title is-4">Link Runescape account</h2>
              <p>Visit the player profile and click the link icon in the top right to start the verification process</p>
          {% else %}
              <a class="button is-danger" href="/unlink/{{ session.user_id }}">Unlink all characters from your account</a>
          {% endif %}
     
        </div>
      </div>
    </div>
  </div>

  </div>

{% include '/common/footer.twig' %}