 {% include '/common/header.twig' %}

<section class="hero is-fullheight">

  {% include '/common/nav.twig' %}

  <div class="hero-body is-not-centered">
    
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="content">
            <!-- Website status -->
            <h1 class="title is-2">
              Status
            </h1>
            <div class="columns">
            {% for server in servers %}
              <div class="column is-3">
                <div class="card status-card">
                  <header class="card-header">
                    <p class="card-header-title">
                      <img src="/img/icons/{{ server.sr_nickname|lower }}.png" alt="{{ server.sr_nickname }}" />
                      {{ server.sr_nickname|replace({'-': ' '})|capitalize  }}
                      <span class="server-status {{ server.sr_name }}">
                        <span class="icon">
                          <i class="fa fa-refresh fa-spin"></i>
                        </span>
                      </span>
                    </p>
                  </header>
                  <div class="card-content">
                    <p><b>Update status:</b> {{ server.sr_last_update_status|capitalize }}</p>
                    <p><b>Started:</b> {{ server.sr_last_update_start|date('d-m H:i') }}</p>
                    <p><b>Finished:</b> {{ server.sr_last_update_end == 0 ? '...' : server.sr_last_update_end|date('d-m H:i') }}</p>
                    <p><b>Duration:</b> {{ server.sr_last_update_end == 0 ? '...' : ((server.sr_last_update_end - server.sr_last_update_start)/60)|round(1)~' min' }}</p>
                    <p><b>Success streak:</b> {{ server.sr_update_count }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
            <p class="note">Durzag is our main web &amp; database server. Tuz, Krar &amp; Cormes are our update servers.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

{% include '/common/footer.twig' %}