{% include '/common/header.twig' %}

<section class="hero is-fullheight">

  {% include '/common/nav.twig' %}

  <div class="hero-body is-not-centered">
    
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="content">
            <h1 class="title is-2">
              Support
            </h1>
            <p>This will be the support page where we will offer support to those players that are in need of support.</p>
            <p class="note">Coming soon we promise!</p>
          </div>
        </div>
      </div>
    </div>

  </div>

{% include '/common/footer.twig' %}