{% include '/common/header.twig' %}

<section class="hero is-fullheight">

  {% include '/common/nav.twig' %}

  <div class="hero-body is-not-centered">
    
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="content">
            <h1 class="title is-2">
              Team
            </h1>
            <div class='dev-container'>
              {% for member in team %}
        				<div class='dev-item'>
        					<img src="/img/devs/{{ member.name }}.png" alt="{{ member.name }}'s avatar">
        					<p><b>{{ member.name }}</b> <span class="note">{{ member.title }}</span></p>
                  <p>{{ member.commits }} commit(s) |
                    <a class="icon is-primary" href="{{ member.twitter }}">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </p>
        				</div>
              {% endfor %}
              <div class='dev-item'>
                  <p><b>You?</b> <span class="note">Are you a developer that knows PHP or JS? Or do you have any other skills that you think can help us? Contact us!</span></p>
                </div>
            </div>
            <hr>
            <h2 class="title is-4">
              Bug hunters
            </h2>
            <ul>
      				<li>Irri</li>
      				<li>Persiflage</li>
      				<li>Whuts Combat</li>
      				<li>Legal teen</li>
      				<li>Gibbsiz</li>
      				<li>Kilts</li>
      				<li>DoSlayer</li>
              <li>Freud</li>
              <li>Want to be the next bug hunter? Report all the bugs you find to us through <a href="mailto:incoming+sanderlm/runelogs@gitlab.com">this email address</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

{% include '/common/footer.twig' %}