{% include '/common/header.twig' %}

<section class="hero is-fullheight">

  {% include '/common/nav.twig' %}

  <div class="hero-body is-not-centered">
    
    <div class="container">
      
      {# Here be dragons #}

    </div>

  </div>

{% include '/common/footer.twig' %}