{% include '/common/header.twig' %}

<section class="hero is-fullheight">

  {% include '/common/nav.twig' %}

  <div class="hero-body is-not-centered">
    
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="content">
            <h1 class="title is-2">
              Transparency
            </h1>
            <p>Runelogs is a community built, free, not-for-profit service. The only goal of this project is to deliver a useful tool.</p>
            <p>This is our monthly cost breakdown:</p>
            <ul>
              <li><b>Main server: $20</b></li><li>Our main workhorse. It runs both the web server you're reading this page on and the database server that handles all of our data.</li>
              <li><b>Update servers: $15</b></li><li>3x tiny $5 servers that each update a portion of the clans.</li>
              <li><b>Our domain: $2</b></li><li>The runelo.gs name</li>
              <li><b>Total monthly cost: $37</b></li>
            </ul>
            <p>To provide full transparency, we upload our last bill each month. You can find the September bill <a href="files/161750902.pdf">here</a>.</p>
            <p>If you like RuneLogs and want to support our cause, you can donate using the PayPal button below this paragraph.</p>
            <p>By donating any amount over $5 you will gain access to our private developer Discord server, where we discuss features, work on code and plan the future of the website.</p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="FLCPL9W6VJ4K8">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

{% include '/common/footer.twig' %}