{% include '/common/header.twig' %}

<section class="hero is-fullheight">

  {% include '/common/nav.twig' %}

  <div class="hero-body is-not-centered">
    
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="content">
              {% if error is defined %}
                <div class="notification is-danger">
                  <strong>Whoops</strong></br>
                  {{ error }}
                </div>
              {% elseif verified == true %}
                <div class="notification is-success">
                  <strong>Yay!</strong></br>
                  Your account is now linked with your Runescape account.
                  <a href="/profile/{{ name|replace({' ': '+'})|lower }}">Click here to visit your profile</a>
                </div>
              {% else %}
              <h1 class='title'>Runescape account verification</h1>
              <p>To successfully link your Runelogs account with a Runescape player, we ask you to verify ownership of both accounts by "hopping" to <b>3</b> different worlds in a row and clicking the verify button on this page every time you hop.</p>
              <p>By doing so, we can verify that you are in fact the owner of this account and can grant you additional rights.</p>
              <p><b>For this to work, your online status has to be set to public.</b></p>

              <form id="world_form" method="post" action="">
                <label>Please select the type of world you wish to use for verification</label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" class="world_type_radio" name="world_type" value="member" {{ world_type == 'member' ? "checked" : "" }}>
                    Member worlds only.
                  </label>
                 </div>
                 <div class="control">
                  <label class="radio">
                    <input type="radio" class="world_type_radio" name="world_type" value="f2p" {{ world_type == 'f2p' ? "checked" : "" }}>
                    Free-to-play worlds only.
                  </label>
                </div>
                <input type="hidden" name="world_form_check" value="1" />
            </form>

            
              <progress class="progress is-large is-success" value="{{ step }}" max="3"></progress>
            {% if check_error is defined %}
                <div class="notification is-danger">
                  <strong>Whoops</strong></br>
                  {{ check_error }}
                </div>
              {% endif %}
              <p>Your {{ step_text }} world is: <b>{{ world }}</b>. Log in to this world and press the Verify button once you're ready.</p>
          
          
          
              <form id="verify_form" method="post" action="">
                  
                <input type="hidden" name="world" value="{{ world }}" />
                <input type="hidden" name="step" value="{{ step }}" />
                <input type="hidden" id="current_world_type" name="world_type" value="{{ world_type }}" />
                <input type="submit" class="button is-primary" value="Verify" />
              </form>
              {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>

{% include '/common/footer.twig' %}