<div class="columns">
	<div class="column is-6">
		<div class="content">
      
			<form method="post" action="">
				<h3 class="title is-4">
					Start a new competition
				</h3>
				{% if success is defined %}
					<div class="notification is-success">
					  <strong>Logo uploaded</strong></br>
					</div>
				{% elseif error is defined %}
					<div class="notification is-danger">
					  <strong>{{ error }}</strong></br>
					</div>
				{% endif %}
				<div class="field">
					<label class="label">Name</label>
					<div class="control">
						<input class="input" type="text" name="comp_name" value="{{ competition.cp_name }}" maxlength="120">
					</div>
				</div>
				<div class="field">
					<label class="label">Skill</label>
					<div class="select">
					  <select name="comp_skill">
					  	{% for skill in skills %}
					    	<option value="{{ skill.sk_id }}" {{ competition.cp_sk_id == skill.sk_id ? 'selected="selected"' : ''}}>{{ skill.sk_name }}</option>
						{% endfor %}
					  </select>
					</div>
				</div>
				<div class="field">
					<label class="label">Start date (dd-mm-yyyy)</label>
					<div class="control">
						<input class="input datepicker" type="text" name="comp_start_date" value="{{ competition.cp_start_date is defined ? competition.cp_start_date|date('d-m-Y') : '' }}">
					</div>
				</div>
				<div class="field">
					<label class="label">End date (dd-mm-yyyy)</label>
					<div class="control">
						<input class="input datepicker" type="text" name="comp_end_date" value="{{ competition.cp_end_date is defined ? competition.cp_end_date|date('d-m-Y') : '' }}">
					</div>
				</div>
	            {% if competition_message is defined %}
	            <div class="notification is-success">
	              {{ competition_message }}
	            </div>
	            {% endif %}
				<div class="field is-grouped">
					<div class="control">
						<input type="submit" name="points" class="button is-primary" value="Save" />
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="column is-6">
		<div class="content">
			<ul>

				{% for competition in upcoming_competitions %}
					<li><a href="/dashboard/{{name}}/competitions/{{ competition.cp_id }}">{{ competition.cp_name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

</div>