{% include '/common/header.twig' %}

<section class="hero is-fullheight">

  {% include '/common/nav.twig' %}

  <div class="hero-body is-not-centered">
    
    <div class="container">
      
      <div class="columns">
      	<div class="column">
      		<div class="content">
      			
      			<div class="tabs is-boxed dashboard-nav">
      			  <ul>
      			    <li class="link is-active">
      			      <a href="/dashboard/{{ name|replace({' ': '+'})|lower }}/members">
      			        <span class="icon is-small"><i class="fa fa-users"></i></span>
      			        <span>Members</span>
      			      </a>
      			    </li>
      			    <li class="link">
      			      <a href="/dashboard/{{ name|replace({' ': '+'})|lower }}/settings">
      			        <span class="icon is-small"><i class="fa fa-cog"></i></span>
      			        <span>Settings</span>
      			      </a>
      			    </li>
                <li class="link">
                  <a href="/dashboard/{{ name|replace({' ': '+'})|lower }}/competitions">
                    <span class="icon is-small"><i class="fa fa-trophy"></i></span>
                    <span>Competitions</span>
                  </a>
                </li>
      			  </ul>
      			</div>
            
      			<div class="box sub-content">
            
            {% include '/dashboard/members.twig' %}

      			</div>

      		</div>
      	</div>
      </div>

    </div>

  </div>

{% include '/common/footer.twig' %}