<div class="columns">
  <div class="column is-10">
    <div class="content">
      
      <table class="table members-table">
        <thead>
          <tr data-clan="{{ clan.cl_name|replace({' ': '+'})|lower }}">
            <th class="dashboard-table-sort" data-sort="pl_name">Name<span class="icon"><i class="fa fa-caret-{{ sort_order == "desc" ? 'down' : 'up' }}"></i></span></th>
            <th class="dashboard-table-sort" data-sort="pl_clan_rank_nr">Rank<span class="icon"><i class="fa fa-caret-{{ sort_order == "desc" ? 'down' : 'up' }}"></i></span></th>
            <th class="dashboard-table-sort" data-sort="has_capped">Cap status<span class="icon"><i class="fa fa-caret-{{ sort_order == "desc" ? 'down' : 'up' }}"></i></span></th>
            <th class="dashboard-table-sort" data-sort="pl_cap_count">Total caps<span class="icon"><i class="fa fa-caret-{{ sort_order == "desc" ? 'down' : 'up' }}"></i></span></th>
            <th class="dashboard-table-sort" data-sort="pl_clan_points">Clan Points<span class="icon"><i class="fa fa-caret-{{ sort_order == "desc" ? 'down' : 'up' }}"></i></span></th>
            <th class="dashboard-table-sort" data-sort="pl_is_private">Runemetrics<span class="icon"><i class="fa fa-caret-{{ sort_order == "desc" ? 'down' : 'up' }}"></i></span></th>
            <th class="dashboard-table-sort" data-sort="pl_last_activity">Activity<span class="icon"><i class="fa fa-caret-{{ sort_order == "desc" ? 'down' : 'up' }}"></i></span></th>
          </tr>
        </thead>
        <tbody>
          {% for member in member_slice %}
            <tr>
              <td><a href="/profile/{{ member.pl_name|replace({' ': '+'})|lower  }}">{{ member.pl_name }}</a></td>
              <td>{{ member.pl_clan_rank }}</td>
              {% if member.pl_last_cap > last_reset %}
                <td data-balloon="Last cap: {{ member.pl_last_cap|date('d/m/Y') }}" data-balloon-pos="left">🏁</td>
              {% elseif member.pl_last_visit > last_reset %}
                <td data-balloon="Last visit: {{ member.pl_last_visit|date('d/m/Y') }}" data-balloon-pos="left">🏰</td>
              {% else %}
                <td data-balloon="I'm a dick that doesn't help my clan" data-balloon-pos="left">❌</td>
              {% endif %}
              <td>{{ member.pl_cap_count }}</td>
              <td>{{ member.pl_clan_points }}</td>
              <td>{{ member.pl_is_private == 1 ? 'Private' : 'Public'}}</td>
              <td data-balloon="Last activity: {{ member.pl_last_activity == 0 ? 'Never' : member.pl_last_activity|date('d/m/Y') }}" data-balloon-pos="left">{{ member.active == true ? '🔥' : (member.last_activity == 0 ? '❓' : '😴') }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <nav class="pagination" role="navigation" aria-label="pagination">
        <ul class="pagination-list">

          {% if pages >= 5 %}


            {% if page == 1 %}

              {% for i in range(page, page + 3)  %}
                <li>
                  <a class="pagination-link {{ (page == i) ? 'is-current' : '' }}" href="/dashboard/{{ clan.cl_name|replace({' ': '+'})|lower }}/members/{{ i }}/{{ sort }}/{{ sort_order }}" >{{ i }}</a>
                </li>
              {% endfor %}

              <li><span class="pagination-ellipsis">&hellip;</span></li>

              <li>
                <a class="pagination-link {{ (page == pages) ? 'is-current' : '' }}" href="/dashboard/{{ clan.cl_name|replace({' ': '+'})|lower }}/members/{{ pages }}/{{ sort }}/{{ sort_order }}" aria-label="Goto page 1">{{ pages }}</a>
              </li>

            {% elseif page == pages %}

              <li>
                <a class="pagination-link {{ (page == 1) ? 'is-current' : '' }}" href="/dashboard/{{ clan.cl_name|replace({' ': '+'})|lower }}/members/1/{{ sort }}/{{ sort_order }}" aria-label="Goto page 1">1</a>
              </li>

              <li><span class="pagination-ellipsis">&hellip;</span></li>

              {% for i in range(page - 3, page)  %}
                <li>
                  <a class="pagination-link {{ (page == i) ? 'is-current' : '' }}" href="/dashboard/{{ clan.cl_name|replace({' ': '+'})|lower }}/members/{{ i }}/{{ sort }}/{{ sort_order }}" >{{ i }}</a>
                </li>
              {% endfor %}

            {% else %}

              <li>
                <a class="pagination-link {{ (page == 1) ? 'is-current' : '' }}" href="/dashboard/{{ clan.cl_name|replace({' ': '+'})|lower }}/members/1/{{ sort }}/{{ sort_order }}" aria-label="Goto page 1">1</a>
              </li>

              <li><span class="pagination-ellipsis">&hellip;</span></li>

              {% for i in range(page - 1, page + 1)  %}
                {% if i != 0 %}
                  <li>
                    <a class="pagination-link {{ (page == i) ? 'is-current' : '' }}" href="/dashboard/{{ clan.cl_name|replace({' ': '+'})|lower }}/members/{{ i }}/{{ sort }}/{{ sort_order }}" >{{ i }}</a>
                  </li>
                {% endif %}
              {% endfor %}

              <li><span class="pagination-ellipsis">&hellip;</span></li>

              <li>
                <a class="pagination-link {{ (page == pages) ? 'is-current' : '' }}" href="/dashboard/{{ clan.cl_name|replace({' ': '+'})|lower }}/members/{{ pages }}/{{ sort }}/{{ sort_order }}" aria-label="Goto page 1">{{ pages }}</a>
              </li>

            {% endif %}

        {% else %}

          {% for i in range(1, pages)  %}
            <li>
              <a class="pagination-link {{ (page == i) ? 'is-current' : '' }}" href="/dashboard/{{ clan.cl_name|replace({' ': '+'})|lower }}/members/{{ i }}/{{ sort }}/{{ sort_order }}" aria-label="Goto page {{ i }}">{{ i }}</a>
            </li>
          {% endfor %}

        {% endif %}
        </ul>
      </nav>

    </div>
  </div>
  <div class="column is-2">
    <div class="content">
      <h3 class="title is-4">
        Activity
      </h3>
      <ul>
        <li>Chet Faker joined</li>
        <li>Chet Faker joined</li>
        <li>Chet Faker joined</li>
        <li>Chet Faker joined</li>
        <li>Chet Faker joined</li>
        <li>Chet Faker joined</li>
        <li>Chet Faker joined</li>
        <li>Chet Faker joined</li>
        <li>Chet Faker joined</li>
        <li>Chet Faker joined</li>
      </ul>

    </div>
  </div>
</div>