<div class="columns">
  <div class="column is-6">
  	<div class="content">
      
  		<h3 class="title is-4">
  			Profile
  		</h3>
  		{% if success is defined %}
  			<div class="notification is-success">
  			  <strong>Logo uploaded</strong></br>
  			</div>
  		{% elseif error is defined %}
  			<div class="notification is-danger">
  			  <strong>{{ error }}</strong></br>
  			</div>
  		{% endif %}
  		<form method="post" action="" enctype="multipart/form-data">
  			<label class="label">Clan logo</label>
  			<div class="field has-addons">
  				<div class="file">
  					<label class="file-label">
  						<input class="file-input" name="logo" type="file" name="resume">
  						<span class="file-cta">
  							<span class="file-icon">
  								<i class="fa fa-upload"></i>
  							</span>
  							<span class="file-label">
  								Choose a file…
  							</span>
  						</span>
  					</label>
  				</div>
  				<div class="control">
  					<input type="submit" name="logo_submit" class="button is-primary" value="Save" />
  				</div>
  			</div>
  			<p class="help">Has to be a .png for now. Sorry uwu</p>
  		</form>
  		<hr>
  		<form method="post" action="">
  			<label class="label">Clan motto</label>
  			<div class="field has-addons">
  				<div class="control">
  					<input class="input" name="clan_slogan" type="text" placeholder="ironman btw" value="{{ clan.cl_slogan }}">
  				</div>
  				<div class="control">
  					<input type="submit" name="slogan" class="button is-primary" value="Save" />
  				</div>
  			</div>
  		<hr>
  		<label class="label">Citadel reset</label>
  		<div class="field has-addons">
  			<div class="select">
  			  <select name="reset_day">
  			  	{% for weekday_index, weekday in weekdays %}
  			    	<option value="{{ weekday_index }}" {{ clan.cl_reset_day == weekday_index ? 'selected="selected"' : ''}}>{{ weekday }}</option>
  			  	{% endfor %}
  			  </select>
  			</div>
  			<div class="select">
  			  <select name="reset_hour">
  			  		{% for i in range(0, 23) %}
  					    <option value="{{ i }}" {{ clan.cl_reset_hour == i ? 'selected="selected"' : ''}}>{{ i }}:00</option>
  					{% endfor %}
  			  </select>
  			</div>
  			<div class="control">
  				<input type="submit" name="reset" class="button is-primary" value="Save" />
  			</div>
  		</div>
  		<p class="help">The format is weekday + hour (24h)</p>
  	</div>
  </div>
  <div class="column is-6">
  	<div class="content">
  		<h3 class="title is-4">
  			Points
  		</h3>
  			<div class="field">
  				<label class="label">Points for weekly citadel visit</label>
  				<div class="control">
  					<input class="input" type="text" name="clan_points_visit" value="{{ clan.cl_visit_points }}">
  				</div>
  			</div>
  			<div class="field">
  				<label class="label">Points for weekly citadel cap</label>
  				<div class="control">
  					<input class="input" type="text" name="clan_points_cap" value="{{ clan.cl_cap_points }}">
  				</div>
  			</div>
  			<div class="field">
  				<label class="label">Points per 1M clan exp gained</label>
  				<div class="control">
  					<input class="input" type="text" name="clan_points_exp" value="{{ clan.cl_exp_points }}">
  				</div>
  			</div>
  			<div class="field is-grouped">
  				<div class="control">
  					<input type="submit" name="points" class="button is-primary" value="Save" />
  				</div>
  			</div>
  		</form>
  	</div>
  </div>
</div>